.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}
.hide + label {
    border-bottom: 1px dotted brown;
    padding: 0;
    color: brown;
    cursor: pointer;
    display: inline-block; 
}

.hide:checked + label {
    color: red;
    border-bottom: 0;
}

.hide:checked + label + div {
    display: block; 
    background: #efefef;
    color: black;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px; 
}
   A {
    color: #DD0000; 
   }
   A:visited {
    color: brown; 
   }
   A:active {
    color: #DD0000;
   }

.demo {
    margin: 2% 0%;
    margin-left: 10px;
}

    body {
    	font-family: 'Roboto', Roboto;
    }
  
 .col-img {
    height: 250px;
    width: 250px;
    margin-right: 20px;
}

.col-img2 {
    height: auto;
    width: auto;
}

.col-text {
    height: 100%;
}

.col-text > .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 5px;
}


.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    margin-top: 2px;
}
.btn
{
    background: #262222; 
}

.block {
    display: flex;
    flex-wrap: wrap;
    background: #262222;
    color: white;
    width: auto;
    border: 1px solid #dfe2e8;
    border-radius: 4px;
    padding: 20px;
    margin-left: 5px;
    margin-top: 10px;
}


.page {
    width: 100%;
    max-width: 900px;
    height: 100%;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
}

h2 {
        width: 48rem;
}

.card {
       width: auto; 
       font-size:14px;
}

.card-header {
    font-size:19px;
}

.card-img-top {
    max-width: 350px;
    max-height: 350px;
}


@media (max-width: 576px) {
    .col-img {
        margin: 0 auto 20px auto;
    }
    .col-img2 {
        margin: 0 auto 20px auto;
    }
    .col-text {
        width: 100%;
    }
}